<aside>
  <div class="nav">
    <ul>
      <li>All Games</li>
      <li>Categories</li>
      <ul class="categories">
        <% categoriesList.forEach((category) => { %>
        <li><%= category.name %></li>
        <% }) %>
      </ul>
    </ul>
  </div>
</aside>
