<aside>
  <div class="nav">
    <ul>
      <li>All Games</li>
      <li>Categories</li>
      <ul>
        <% categories.map((category) => { %>
        <li><%= category %></li>
        <% }) %>
      </ul>
    </ul>
  </div>
  <div class="menage-categories">Menage Categories</div>
</aside>
