<aside>
  <div class="nav">
    <ul>
      <a href="/"><li>All Games</li></a>
      <!-- href to change -->
      <a href="/"><li>Categories</li></a>
      <ul class="categories">
        <% categoriesList.forEach((category) => { %>
        <a href="/category/<%= category.id %>"><li><%= category.name %></li></a>
        <% }) %>
      </ul>
    </ul>
  </div>
</aside>
