<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store inventory</title>
  </head>
  <body>
    <%- include("./partials/sidebar.ejs") %>
  </body>
</html>
