<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Store inventory</title>
  </head>
  <body>
    <div class="content">
      <header>
        <h1>Store Inventory</h1>
      </header>
      <%- include("./partials/sidebar.ejs") %>
      <main><%- include("./partials/games.ejs") %></main>
    </div>
  </body>
</html>
