@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 250px auto;
}

aside {
  border-right: 1px solid rgb(68, 68, 68);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  font-size: 1.5rem;
  grid-column: 1/2;
}

.categories {
  list-style-type: ">";
  margin-left: 20px;
  font-size: 1.2rem;
}
.categories li {
  margin-top: 5px;
  padding-left: 10px;
  transition: transform 0.5s;
}

.categories li:hover {
  transform: translateX(10px);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav > ul {
  list-style: none;
}

.nav > ul > a li {
  margin-top: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

li {
  transition: text-shadow 0.5s;
  font-weight: 500;
}

li:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white,
    0 0 160px white;
  cursor: pointer;
}

header {
  grid-column: 2/3;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

main {
  grid-column: 2/3;
  margin-bottom: 20px;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.game-cover-div img {
  width: 150px;
}

.game-card {
  width: 300px;
  height: 400px;
  background-color: rgb(41, 41, 41);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 1);
  position: relative;
  display: grid;
  grid-template-rows: auto 50px 60px;
  gap: 5px;
}

.game-card::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 1);
  opacity: 0;
  transition: opacity 0.5s;
}

.game-card:hover::after {
  opacity: 1;
}

.game-cover-div {
  display: flex;
  justify-content: center;
}

.game-card:hover {
  cursor: pointer;
}

.game-category {
  background-color: rgb(138, 138, 138);
  padding: 3px 5px;
  border-radius: 8px;
}

.game-title-div {
  display: flex;
  align-items: center;
}

a {
  text-decoration: inherit;
  color: inherit;
}
