@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 250px auto;
}

aside {
  border-right: 1px solid rgb(68, 68, 68);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  font-size: 1.5rem;
  grid-column: 1/2;
}

.categories {
  list-style-type: ">";
  margin-left: 20px;
  font-size: 1.2rem;
}
.categories li {
  margin-top: 5px;
  padding-left: 10px;
  transition: transform 0.5s;
}

.categories li:hover {
  transform: translateX(10px);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav > ul {
  list-style: none;
}

.nav > ul > a li {
  margin-top: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

li {
  transition: text-shadow 0.5s;
  font-weight: 500;
}

li:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white,
    0 0 160px white;
  cursor: pointer;
}

header {
  grid-column: 2/3;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

main {
  grid-column: 2/3;
  margin-bottom: 20px;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.game-cover-div img {
  width: 150px;
}

.game-card {
  width: 300px;
  height: 400px;
  background-color: rgb(41, 41, 41);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 1);
  position: relative;
  display: grid;
  grid-template-rows: auto 50px 60px;
  gap: 5px;
}

.game-card::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 1);
  opacity: 0;
  transition: opacity 0.5s;
}

.game-card:hover::after {
  opacity: 1;
}

.game-cover-div {
  display: flex;
  justify-content: center;
}

.game-card:hover {
  cursor: pointer;
}

.game-category {
  background-color: rgb(138, 138, 138);
  padding: 3px 5px;
  border-radius: 8px;
}

.game-title-div {
  display: flex;
  align-items: center;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.game-info-cover img {
  width: 300px;
}

.game-info {
  display: grid;
  grid-template-columns: 500px 250px 250px;
  grid-template-rows: 150px 50px auto auto;
  margin: auto;
  background-color: rgb(41, 41, 41);
  width: 1080px;
  padding: 20px;
  border-radius: 12px;
  gap: 20px;
  position: relative;
}

.game-info-cover {
  display: flex;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/4;
}

.game-info-title {
  grid-column: 2/4;
  grid-row: 1/2;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.game-info-price {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.5rem;
  background-color: rgb(27, 27, 27);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info-stock {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 1.5rem;
  background-color: rgb(27, 27, 27);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info-categories {
  grid-column: 2/4;
  grid-row: 3/4;
  font-size: 1.2rem;
  background-color: rgb(27, 27, 27);
  padding: 20px;
  border-radius: 8px;
}

.game-info-description {
  grid-column: 1/4;
  grid-row: 4/5;
  background-color: rgb(27, 27, 27);
  padding: 20px;
  border-radius: 8px;
}

.game-info-categories span {
  background-color: rgb(138, 138, 138);
  padding: 3px 5px;
  border-radius: 8px;
}

.game-info-categories span:hover {
  cursor: pointer;
}

.edit-game {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 2rem;
}

.edit-game:hover {
  cursor: pointer;
}

.game-card.last {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 560px;
  font-size: 1.2rem;
  background-color: rgb(41, 41, 41);
  padding: 30px;
  border-radius: 12px;
}

input[type="text"],
textarea {
  width: 500px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding: 0 5px;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 8px;
}

input[type="text"] {
  height: 2rem;
}

textarea {
  height: 5rem;
}

button[type="submit"] {
  width: 100px;
  height: 30px;
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(0, 150, 0);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button[type="submit"]:hover {
  background-color: rgb(0, 119, 0);
}

.errors-div {
  width: 560px;
  margin: 20px auto;
  background-color: rgb(236, 204, 204);
  border: 2px solid red;
  color: red;
  padding: 10px;
}

.errors-div li {
  margin-left: 25px;
}
